body {
    min-height: 100vh;
    background-color: rgb(31, 31, 32);
    color: white;
    font-family: sans-serif;
    letter-spacing: 0.05rem;
    margin: 0;
    padding: 4rem;
}

h1 {
    font-size: 3.5rem;
    display: block;
    width: fit-content;
    margin: 0 auto 2rem;
}

main {
    max-width: 700px;
    margin: auto;
}

textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 200px;
    font-size: 1.5rem;
    background-color: transparent;
    color: white;
    padding: 1.2rem 1.6rem;
    border: 1px solid rgba(255, 255, 255, .3);
    margin: 1rem auto 2rem auto;
    resize: none;
}

button {
    width: fit-content;
    border: 0;
    color: white;
    cursor: pointer;

    display: block;
    margin: 2rem auto 6rem auto;
    font-size: 1.3rem;
    background: linear-gradient(to right, hsl(297, 100%, 25%), hsl(240, 73%, 31%));
    background-origin: center;
    background-position: center left;
    background-size: 100% 100%;

    padding: .6rem 1rem;

    box-shadow: hsla(240, 73%, 31%, .6) 0px 10px 40px -7px;
    
    transition: background-size .3s, box-shadow .3s;
}

button:hover {
    background-size: 200% 100%;
    box-shadow: hsla(297, 100%, 25%, .6) 0px 10px 40px -7px;
}

h2 {
    font-size: 1rem;
    font-weight: 300;
}

p {
    font-size: 1.5rem;
    padding: 1.2rem 1.6rem;
}

#schieberBeinhalter {
    width: 100%;
    display: flex;
    gap: 0 1rem;
    margin-bottom: 1.5rem;
}

#zufälligkeitsSchieber {
    flex-grow: 1;
}

#überprüfKastenBeinhalter {
    display: flex;
    justify-content: center;
    gap: 0 .5rem;
}